<header id="header">
    <div class="bannerImage">
        <div>
            <h1>Indian Hot Stories</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, magnam possimus quibusdam obcaecati
                ad libero?</p>
        </div>
    </div>
</header>